body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#grid-container{
    display: flex;
    flex-wrap: wrap;   
    height: 960px;
    width: 960px;
    border: 1px solid #999;
}

#reset-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.grid-item {
    border: 1px solid #999;
    box-sizing: border-box; /* Ensures borders are included in the size */
}